@mixin fade-in-init {
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    @keyframes onHoverAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@mixin fade-in-scope {
    @include fade-in-init;
    &.fade-in{
        animation-name: onHoverAnimation;
    }
}
