html, body, #root, .App{
  height: 100%;
}
body {
  font-family: "Segoe","Segoe UI","Arial","sans-serif";
  overflow: hidden;
}

.w-100{
  width:100%;
}

.hide{
  display:none;
}

.main-container{
  display: flex;
  height: 100%;
}
