.header {
  display: flex;
  justify-content: space-between;
  background-color: $true-blue;
  padding-left: 10px;
  align-items: center;
  height: 48px;
  max-height: 48px;

  &__brand {
    font-weight: 500;
    color: $white;
    width: 200px;
  }

  &__search-area {
    max-width: 400px;
    width: 100%;
    height: 32px;
    display: inherit;
    border-radius: 2px;
    overflow: hidden;

    &__tooltip {
      position: absolute;
      margin-left: -65px;
      z-index: 11;
      display: flex;
      align-items: center;

      //begin: fade
      @include fade-in-scope;
      //end: fade

      &-main {
        background-color: $white;
        border-radius: 2px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        padding: 0 10px;
        font-size: 12px;
        box-shadow: 1px 1px #00000063;
      }

      &-right-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent $white;
        display: flex;
        align-items: center;
      }
    }

    &__item {
      background-color: $beau-blue;
      display: flex;
      height: 100%;

      @include mq("tablet") {
        //display: inherit;
      }

      &__button {
        background-color: transparent;
        border: none;
        border-radius: 2px;
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 10px;

        &__icon {
          transform: scaleX(-1);
          color: $true-blue;

          &-times {
            position: relative;
            left: -10px;
          }
        }

        &:hover {
          background-color: $white;
          cursor: pointer;
        }

        &--active {
          background-color: $white;
        }
      }

      &__input {
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding-left: 10px;
        font-weight: 300;
      }

      &-mobile {
        border-radius: 2px;
        display: flex;
        align-items: center;
        @include mq("tablet") {
          width: 100%;
        }
      }
    }

  }

  &__right-side {
    display: flex;

    &__item {
      padding-right: 10px;

      &__button {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: white;
        padding: 15px;

        &:hover {
          background-color: $usafa-blue;
        }
      }
    }
  }

}
