.left-side-bar {
  background-color: $cultured;
  width: 290px;
  height: 100vh;

  &__header {
    padding: 10px;

    &__button {
      background-color: transparent;
      border:none;
      width: 32px;
      height: 32px;
      cursor:pointer;

      &:hover {
        background-color: $lotion;
        box-shadow: 0 0 0 1px $bright-gray;
      }
      &__icon {
        background-color: transparent;
        border: none;
        border-radius: 2px;
      }
    }


  }
}