.left-side-bar {
  background-color: $cultured;
  width: 290px;
  overflow-y: auto;
  max-height: 95%;
  &__top{
    height:95%;
    &__header {
      padding: 10px;

      &__button {
        background-color: transparent;
        border: none;
        width: 32px;
        height: 32px;
        cursor: pointer;

        &:hover {
          background-color: $lotion;
          box-shadow: 0 0 0 1px $bright-gray;
        }

        &__icon {
          background-color: transparent;
          border: none;
          border-radius: 2px;
        }
      }
    }
    &__middle{
      max-height: 89%;
      overflow-y: auto;
    }
  }

  &__bottom-buttons{
    border-top: 1px solid $bright-gray;
    display: flex;
    justify-content: space-between;

    &__item{
      padding: 10px 20px;
      cursor: pointer;
      &:hover{
        background-color: $bright-gray;
      }
    }
  }

}

.left-side-bar-new-list-area {
  display: flex;
  height: 38px;
  justify-content: space-between;
  align-items: center;
  color:$true-blue;
  &__left {
    display: flex;
    width: 90%;
    padding:0 12px;
    height: 100%;
    align-items: center;
    &:hover{
      cursor: pointer;
      background-color: $lotion;
    }

    &__icon {
      @extend .list-item__left__icon;
    }

    &__input-area {
      width:90%;
      height: 100%;
      &__input {
        background-color: transparent;
        border: none;
        outline: none;
        width:90%;
        height: 100%;
        &::placeholder {
          color:$true-blue;
          opacity: 1;
        }

      }
    }
  }

  &__right {
    @extend .list-item__left__icon;
    margin-left: 5px;
    padding: 0 10px;
    height: 100%;
    margin-right: 0 !important;
    &:hover{
      cursor: pointer;
      background-color: $lotion;
    }
  }
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  color: $onyx;
  font-weight: 300;

  &:hover {
    cursor: pointer;
    background-color: $lotion;
  }

  &__left {
    display: flex;
    padding: 10px 0;

    &__icon {
      margin-right: 5px;
      width: 32px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
    }

    &__text {

    }
  }
}
